* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    ul{
        list-style: none;
        .card{
            border: 2px solid black;
            margin-bottom: 1rem;
            img{
                width: 10rem;
            }
        }
    }
}